*{
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    align-self: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
        background-color: #3882f6;
        color: rgb(255, 255, 255);
        font-size: 20px;
        border-radius: 15px;
        padding: 17px;
        width: 130px;
        height: 20px;
}


body {
    display: block;
    margin: 0px;
}
/* Header*/

.header{
    margin-right: 18%;
    margin-left: 18%;
    color: white;
    background-color: #1f2937;
    align-items: center;
    flex: 1;
    display: flex;
.nav{
    background-color: #1f2937;
    gap: 30px;
    color: white;
    font-weight: 400;
    font-size: large;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
}

#logo{
    background-color: #1f2937;
    color: rgb(255, 0, 0);
    font-size: 35px;
    font-weight: bold;
}}

/* Hero Text, photo, CTA */

.bluewrap  {
width: 100%;
background-color: #1f2937;


}
.landing{
    padding-top: 70px;
    padding-bottom: 40px;
    margin-right: 10%;
    margin-left: 17%;
    flex-wrap: nowrap;
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
}

#herodesc{
p{
    font-size: 20px;
}}
h1{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 60px;
    color: rgb(255, 255, 255);
    justify-content: flex-start;
    }

.rightcolumn{
    margin-right: 0px;
    align-items: center;
    justify-content: right;
}


img{
   flex: 1;
   max-width: 90%;
   max-height: 85%;
}

.blueboxes{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    .box{
        padding: 5px;
            background-color: #ffffff;
            font-size: 20px;
            border: 4px;
            border-style: solid;
            border-radius: 12px;
            border-color: #3882f6;
            width: 170px;
            height: 170px;
            margin-top: 25px;
            
    }
}

H2{
    margin-top: 45px;
    font-size: 35px;
    color: #1f2937;
    text-align: center;
}

.subtextgroup{
    color: rgb(82, 82, 82);
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    .subtext{
        max-width: 170px;
        text-align: center;
    }
}

.quotebox{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 100px;
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    .quote{
        color: #1f2937;
        line-height: 40px;
        justify-content: right;
        max-width: 800px;
        font-size: 30px;
        font-weight: 10;
        font-style: italic;
        text-align: left;
    }
   #byline{
    margin-right: -30%;
    text-justify: right;
    font-size: 25px;
    font-weight: 900;
    text-align: right;
}}

.ctabox{
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #3882f6;
    width: 60%;
    min-height: 150px;
    max-height: 150px;
    border: 4px;
    border-style: solid;
    border-radius: 12px;
    border-color: #3882f6;
    #ctatext{
        padding-left: 7%;
        padding-top: 40px;
        color: white;
        font-size: 30px;
        font-weight: 900;
    }

    #ctadesc{
        padding-left: 7%;
        padding-top: 4px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 100;
    }
 
}